body {
	margin: 0px auto;
	padding: 0px;
	font: 14px Georgia, sans-serif;
	background: #1F1F1F;
  color: #DDDDDD;
  width: 770px;
}

a {
  text-decoration: none;
	color: #FFFFFF;	
}

a:hover {
  text-decoration: underline;
	color: #FFFFFF;	
}

img {
	border: none;
}

div#container {
  clear: both;
}

div#header {
  clear: both;
}

div#message {
  clear: both;
	position: absolute;
  top: -100px;
  border: 2px solid #DAA520;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  background: #EEDD82;
  color: #444444;
  padding: 2 4 2 4;
  display: none;
  z-index: 999;
  font-weight: normal;
}

div#content {
  clear: both;
}

div#footer {
  clear: both;
	border-top: dotted 1px #777777;
	padding-bottom: 5px;
	margin: 0 0 10px 0;
	font: 80% Monospace;
  text-align: right;
}

span.red {
  color: #df0000;
}

.breadcrumb_nav {
  clear: both;
}

.breadcrumb_nav .current_album {
  color: #008284;
}

.gallery_title {
  font-family: Monospace;
	margin: 5px 0 5px 0;
	letter-spacing: 10px;
}
.gallery_desc {
	border-top: dotted 1px #777777;
	padding-bottom: 5px;
	margin: 0 0 10px 0;
	font: 80% Monospace;
  text-align: right;
}

.thumbs {
  clear: both;
	list-style: none;
	margin: 0;
	padding: 0;
}
.thumbs img {
	border: solid 1px #777777;
	padding: 0px;
}
.thumbs div {
	padding: 10px;
	margin: 0;
	float: left;
	position: relative;
	width: 130px;
	height: 130px;
}
.thumbs div:hover img {
	border-color: #00A2A4;
}
.thumbs .album_title {
	background: #008284;
  opacity:0.7;filter:alpha(opacity=70)
	color: #FFFFFF;
	padding: 2px 10px;
	display: block;
	position: absolute;
	top: 108px;
	left: 5px;
	border: 0px solid #000000;
}
